{%  extends 'backend/base.html.twig' %}

{% block content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title">Toutes les vehicules en stock</h4>

                            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                {{ form_start(f) }}
                                <div class="row">
                                    <div class="col-sm-12 col-md-6"><div class="dataTables_length" id="datatable_length">
                                        </div></div>
                                    <div class="col-sm-12 col-md-6"><div id="datatable_filter" class="dataTables_filter">



                                            <label>Rechercher une vehicule:

                   {#  <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable">#}
                   {{ form_widget(f.matricule,{'attr':{'type':'text','class':'form-control form-control-sm','placeholder':'','aria-controls':'datatable'}}) }}
</label>
</div></div>
                                    {{ form_end(f) }}
</div>
</div>

            <table id="selection-datatable" class="table table-bordered">
            <thead>
            <tr class="table-active">
            <th> Numéro d'immatriculation</th>
            <th>Type</th>
            <th>Marque</th>
            <th>Puissance</th>
            <th>Kilometrage</th>
            <th>Nombre Places</th>
            <th>Photo</th>
            <th>Etat</th>
            <th>Prix</th>
            </tr>
            </thead>


            <tbody>
            {%  for message in app.flashes('info') %}
            <div class="alert alert-success">
            {{ message }}
            </div>
            {% endfor %}
            {% for i in v %}
            <tr>

            <td><a href="{{ path('vehicules_Admin_affiche1vehicule',{'matricule':i.matricule}) }}"> {{ i.matricule }}</a> </td>
            <td> {{ i.type }}</td>
            <td> {{ i.marque }}</td>
            <td> {{ i.puissance }}</td>
            <td> {{ i.Kilometrage }}</td>
            <td> {{ i.nbPlace }}</td>
            <td> <img src="{{ asset('imgvehiculess/'~i.photo )}}" style="width: 100px; height: 50px"></td>
            <td> {{ i.etat }}</td>
            <td> {{ i.prix }}</td>
            </tr>
            {% endfor %}

            </tbody>
            </table>
</div>
</div>
<div class="main-navigation ">
{{ knp_pagination_render(v) }}
</div>
</div> <!-- end row -->
</div>
</div>
</div>
<footer class="footer text-right">
2016 - 2018 © Adminto. Coderthemes.com
</footer>


{% endblock %}


